<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center title mt-4"><b>Products</b></h2>
            <a href="/admin/add-products" class="btn btn-success float-right ">Add Product</a>
            <table class="table ml-4">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Tagline</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                        {{#each product}}
                    <tr>
                        
                        <td><b>{{this.Item-Name}}</b></td>
                        <td><b>{{this.Item-Brand}}</b></td>
                        <td><b>{{this.Item-Category}}</b></td>
                        <td><b>Rs.<span class="text-danger">{{this.Item-Price}}</span>/-</b></td>
                        <td><b>{{this.Item-Tagline}}</b></td>
                        <td><img src="/images/{{this._id}}.jpg" style=" border-radius: 10px;" alt=""></td>
                        <td>
                            <a href="/admin/edit-products/{{this._id}}" class="btn btn-primary modify-btn mr-2">Edit</a>
                            <a href="/admin/delete-products/{{this._id}}" class="btn btn-danger modify-btn " onclick="return confirm('Do you really want delete ')">Delete</a>
                        </td>
                    </tr>
                   {{/each}}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</section>

<style>
    
    html{
        overflow-x: hidden;
    }
    section{
        width: 100%;
        position: relative;
        left: 105px;
    }
    td img{
        width: 48px;
        height: 80px;
    }
    .title{
    color: lightgray;
    text-transform: uppercase;
    }
    .modify-btn{
        width: 70px;
    }
</style>
